body {
	margin: 0;
}

.header {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	height: 100px;
}

.header_elements {
	border: 1px solid black;
	flex-grow: 1;
}

.header_red {
	background: red;
}

.header_blue {
	background: blue;
}

.header_green {
	background: green;
}

.header_yellow {
	background: yellow;
}

#drawing_space {
	border: 1px solid black;
	height: 533px;
}